<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@model.title</title>
    <meta name="description" content="@model.title | LocalBol App"/>
    <link rel="icon" sizes="192x192" href="/assets/image/logo.png">
    <meta property="og:image" content="@model.mediaLink" />
    <meta property="og:description" content="@model.title | LocalBol App" />
    <meta property="og:updated_time" content="1593616658000" />
    <meta property="og:rich_attachment" content="true" />
    <meta property="al:web:should_fallback" content="true" />
    <style>
        header, main {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<header>
    <img src="/assets/image/logo.png" alt="localbol">
</header>
<main>
    <h4 style="font-size: 2rem; padding: 0px 80px">@model.title</h4>
    <hr>
    <p style="margin-top: 100px">Download app from play store now</p>
    <a href="https://play.google.com/store/apps/details?id=com.aeon.lokpoll&hl=en_IN" style="margin-top: 80px">
        <img src="/assets/image/play-store.png" alt="play store icon" style="width: 500px">
    </a>
</main>
</body>
</html>
